{% extends "base.html" %}

{% block body %}

<div class="container mx-auto flex py-10 flex-wrap text-purple-700">
    
    <div class="flex flex-wrap justify-between">
        <div>
        <p class="text-2xl px-10 py-10 text-wrap text-justify">
            <span class="text-5xl font-bold text-fuchsia-900">A</span> passionate Technologist, Independent Thinker, Developer and DevSecOps professional . ❤️ for Open-Source Software. Enjoys Designing, Tinkering and Break-fixing System. I believe Privacy and security is one of the fundamental rights not an Option. Curious to learn more techs. Lets work together for a transparent Livelihood enriched with Privacy and security.
        </p>
        
    </div>
    </div>

        <div class="flex-wrap py-5 px-5 ">
            <p class="text-3xl font-extrabold zigzag-underline py-5 px-5 "><span class="text-4xl font-bold text-red-700">C</span>reator of:  </p>
    
            <div class="px-5 flex flex-wrap justify-center">
                <ul class="list-none flex flex-wrap text-xl space-x-2 space-y-1 px-auto mx-auto rounded-xl">
                    {% for item in config.extra.my_collab %}
                    <li class=" px-5 space-x-2 space-y-1 text-wrap flex-wrap shadow bg-purple-50 bg-gradient-to-r from-transparent to-zinc-50 hover:bg-teal-50 hover:text-lime-900 border-cyan-400 rounded-xl border-2"> 
                        <p class="p-1 font-extrabold text-emerald-600">
                        <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer"> {{ item.name }}
                        </a>
                        <p class="p-1 font-extralight font-mono">
                            <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">
                            Crafted With : {{ item.Techstack}}
                            </a>
                        </p>
                        
                        </p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
    
        </div>

        <p class="text-3xl font-sm py-5 px-10 zigzag-underline "><span class="text-4xl font-bold text-fuchsia-900">D</span>evSecOps</p>

        <ul class=" list-none flex space-x-2 space-y-1 px-10 py-auto flex-wrap ">
            {% for item in config.extra.DevSecOps_skills %}
            <li class="p-2 font-mono text-wrap shadow bg-purple-50 bg-gradient-to-r from-transparent to-zinc-50 hover:bg-teal-50 text-slate-500 hover:text-lime-900 border-red-500 rounded-md border-2">
                    {{ item }}
            </li>
            {% endfor %}
        </ul>

        <p class="text-3xl font-sm py-5 px-10 zigzag-underline "><span class="text-4xl font-bold text-fuchsia-900">P</span>rogramming & AI</p>

        <ul class=" list-none flex space-x-2 space-y-1 px-10 py-3 flex-wrap ">
            {% for item in config.extra.Programming_skills%}
            <li class="p-2 font-mono text-wrap shadow bg-purple-50 bg-gradient-to-r from-transparent to-zinc-50 hover:bg-teal-50 text-slate-500 hover:text-lime-900 border-red-500 rounded-md border-2">
                    {{ item }}
            </li>
            {% endfor %}
        </ul>

        <p class="text-3xl font-sm py-5 px-10 zigzag-underline "><span class="text-4xl font-bold text-fuchsia-900">C</span>yber Security</p>

        <ul class=" list-none flex space-x-2 space-y-1 px-10 py-3 flex-wrap ">
            {% for item in config.extra.Cyber_security_skills%}
            <li class="p-2 font-mono text-wrap shadow bg-purple-50 bg-gradient-to-r from-transparent to-zinc-50 hover:bg-teal-50 text-slate-500 hover:text-lime-900 border-red-500 rounded-md border-2">
                    {{ item }}
            </li>
            {% endfor %}
        </ul>

        <p class="text-3xl font-extrabold p-10 zigzag-underline">GitHub Contribution Snapshot 📈 </p>

        <a href="https://git.io/streak-stats"><img class="p-10 justify-center" src="https://streak-stats.demolab.com?user=samirparhi-dev&theme=graywhite&date_format=j%20M%5B%20Y%5D&card_width=600&ring=EB5454&background=45%2CEBDBCD%2CEBE6E2" alt="GitHub Streak" /></a>

        <ul class=" list-none flex space-x-2 space-y-1 flex-wrap ">
            <p class="text-3xl font-bold px-auto mx-auto justify-center"><br><br>🛟 <span class="text-4xl font-extrabold text-fuchsia-900"></span>Always free for Social Cause 🛟 </p>
        </ul>
    </div>
</div>
{% endblock %}