<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.title }}</title>
    <meta name="description" content="{{ config.description }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="{{ get_url(path="img/generic/fv.png") }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&family=Comfortaa:wght@300..700&family=Raleway&family=Syne+Mono&display=swap" rel="stylesheet">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ get_url(path="styles/styles.css") | safe }}" />

</head>

    <body class="paper-like bg-opacity-80 min-h-40 from-cyan-100 to-rose-50 bg-gradient-to-l">
    <header class=" px-10 justify-evenly mx-auto from-cyan-100 to-rose-50 bg-gradient-to-l py-5 ">
        <div class="flex flex-wrap px-auto py-5 justify-center">
                <div class="mx-10 px-auto ">
                <ul class="flex">
                    <a href="/#"><p class="lg:text-3xl sm:text-2xl md:text-2xl py-auto px-auto">
                        <span class="font-semibold text-purple-900">Samir Ranjan Parhi </span>
                    </a>
                </ul>
            </div>
            <div class="list-none flex flex-wrap">
                <div id="menu" class="lg:relative lg:flex lg:flex-wrap lg:justify-between lg:bg-transparent lg:w-auto">
                    <ul class="list-none flex flex-wrap space-x-4">
                        {% for item in config.extra.my_blog_menu %}
                        <li class="p-2 hover:text-violet-900 text-fuchsia-800">
                            <a href="{{ item.url }}">{{ item.menu }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>

    </header>

    <!-- <footer class=" py-4 from-cyan-100 to-rose-50 bg-gradient-to-l backdrop-blur-md">

        <div class="px-auto flex flex-wrap justify-evenly">
            <ul class="flex">
                <a href="/#">
                    <p class="py-auto px-auto">
                    <span class="font-semibold text-purple-900">Samir Ranjan Parhi </span>
                </a>
            </ul>
            <ul class=" px-5 list-none flex justify-evenly space-x-6 py-2 px-auto mx-auto rounded-xl">
                {% for item in config.extra.my_blog_menu %}
                <li class=" text-xl text-purple-700 hover:underline border-1 hover:text-indigo-600 flex rounded-lg  border-fuchsia-900">
                    <a href="{{ item.url }}">{{ item.menu }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class=" flex py-5 text-purple-700 justify-center text-xl text-blue-700dark:divide-purple-50">
            <p>
                © {{ config.title }} {{ config.extra.current_year }}

            </p>

        </div>

        <div class=" flex py-5 text-purple-700 justify-center text-xl text-blue-700dark:divide-purple-50">
            <p>
                Coded 💙 by samirparhi-dev
            </p>
        </div>
    </footer> -->

    {% block body %}
    {% endblock %}

    <footer class=" py-4 from-cyan-100 to-rose-50 bg-gradient-to-l backdrop-blur-md">

        <div class="px-auto flex flex-wrap justify-evenly">
            <ul class=" px-5 list-none flex justify-evenly space-x-6 py-2 px-auto mx-auto rounded-xl">
                {% for item in config.extra.social_handle %}
                <li class=" text-xl text-purple-700 hover:underline border-1 hover:text-indigo-600 flex rounded-lg  border-fuchsia-900">
                    <a href="{{ item.url }}"> {{ item.social_handle}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class=" flex py-5 text-purple-700 justify-center text-xl text-blue-700dark:divide-purple-50">
            <p>
                © {{ config.title }} {{ config.extra.current_year }}

            </p>

        </div>

        <div class=" flex py-5 text-purple-700 justify-center text-xl text-blue-700dark:divide-purple-50">
            <p>
                Coded 💙 by samirparhi-dev
            </p>
        </div>
    </footer>
</body>

</html>
