
{% extends "base.html" %}

{% block body %}

<section class="py-5 px-5">
    <p class="text-3xl text-fuchsia-900 font-extrabold py-3"><span class="text-5xl font-extrabold text-fuchsia-900">L</span>et's Connect... ☕️  </p>
    <div class="w-full h-1 bg-gradient-to-r from-cyan-500 via-indigo-600 to-rose-400 my-1"></div>

    <div class="py-10 flex flex-wrap justify-evenly">
        <ul class=" px-5 list-none flex justify-evenly space-x-6 py-10 px-auto mx-auto rounded-xl">
            {% for item in config.extra.social_handle %}
            <li class="bg-opacity-10 font-bold backdrop-blur-lg shadow-lg overflow-hidden hover:bg-purple-100  text-lg text-purple hover:text-black p-2 rounded-2xl">
                <a href="{{ item.url }}"> {{ item.social_handle}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}
